.banner {
    background-image: url(./img/banner.png);
    background-size: cover;
    height: 40vh;
  }

.titulo {
    text-align: center;
    padding:150px;
    margin: auto;
    width: auto;
    color: white;
}

.texto {
    text-align: center;
}

.container {
    padding: 5px;
}

.col-sm-12 {
    width: 300px;
    padding: 2px;
}

.col-sm-4 h2 {
    text-align: center;
    color: #010D26;
    border-radius: 5px;
    font-size: 24px;
}

.btn-primary {
    background-color: #010D26;
    border: none;
}

.btn-primary:hover {
    background-color: #021F59;
}

.btn-primary:active {
    background-color: #021F59;
}

.btn-danger {
    background-color: #010D26;
    border: none;
}

.btn-danger:hover {
    background-color: #021F59;
}

.btn-danger:focus {
    background-color: #021F59;
}

.card-title {
    font-size: 16px;
}

.terms {
    text-align: center;
}

footer {
    padding: 25px;
    background-color: #7D5A50;
    margin-top: 150px;
  }
  footer .piedePag {
    color: antiquewhite;
    font-family: "Anek Malayalam", sans-serif;
    font-size: 30px;
    -webkit-text-decoration: solid;
            text-decoration: solid;
    text-align: center;
  }
  footer .flexContainerFooter {
    display: flex;
    justify-content: center;
  }
  footer .flexContainerFooter > div {
    width: 100px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
  }
  footer h3 {
    color: azure;
    font-family: "Anek Malayalam", sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 100px;
}